html, body{
    font-size: 100%;
	background:	#fff;
	font-family: 'Open Sans', sans-serif;
}
@font-face {
   font-family: 'YesevaOne-Regular';
   src: url(../fonts/YesevaOne-Regular.ttf)format('truetype');
}
h1,h2,h3,h4,h5,h6{
	margin:0;	
 font-family: 'YesevaOne-Regular';
}	
p{
	margin:0;
	font-family: 'Open Sans', sans-serif;
}
ul,label{
	margin:0;
	padding:0;
}
body a:hover{
	text-decoration:none;
}
hr { width:100%; height:1px; background: #fff }


/*-- margin & padding & sizes--*/
.top-margin-0 {
	margin-top: px;
}
.top-margin-3 {
	margin-top: 3px;
}
.top-margin-5 {
	margin-top: 5px;
}
.top-margin-10 {
	margin-top: 10px;
}
.top-margin-20 {
	margin-top: 20px;
}
.bottom-margin-10 {
	margin-bottom: 10px;
}
.bottom-margin-20 {
	margin-bottom: 20px;
}
.padding-0 {
    padding-right:0;
    padding-left:0;
    padding-top:0;
    padding-bottom:0;
}
.margin-0 {
    margin-top: 0 !important;
    margin-bottom:0 !important;
}
/*-- //margin & padding & sizes--*/


/*-- SAP --*/
.sap_tabs {
	clear:both;
	font-style: normal;
	position:relative;
}
.facts {
	border: none;
	text-align: center;
	padding:1.5em;
}
.top1{
	margin-top: 2%;
}
ul.resp-tabs-list {
	list-style: none;
    margin: 0;
}
div#horizontalTab {
  background:none;
  }
.tab_list li:nth-child(2){
	margin: 2em 0 0;
}
.resp-tab-item:first-child{
	border-left:none;
}
.resp-tab-item{
	font-family: 'Open Sans', sans-serif;
	font-size: 16px;
	font-weight:bold;
		color: #408080;
	cursor: pointer;
	    padding: 10px 105.5px;
	display: inline-block;
	margin: 0;
	text-align: center;
	list-style: none;
	float: none;
	outline: none;
	-webkit-transition: all 0.3s ease-out;
	-moz-transition: all 0.3s ease-out;
	-ms-transition: all 0.3s ease-out;
	-o-transition: all 0.3s ease-out;
	transition: all 0.3s ease-out;
	text-transform: capitalize;
}
.resp-tab-item:hover {
	text-shadow: none;
}
.resp-tab-active {
	color: #FFFFFF;
	background-color:  #408080;
	text-shadow: none;
}
.resp-tabs-container {
	padding: 0px;
	clear: left;
	border-top:none;
}
h2.resp-accordion {
	cursor: pointer;
	padding: 5px;
	display: none;
}
.resp-tab-content {
	display: none;
}
.resp-content-active, .resp-accordion-active {
   display: block;
}
h2.resp-accordion {
	font-size:1em;
	margin: 0px;
	padding: 10px 15px;
	background:#f77462;
	margin:10px 0;
	color:#fff;
}
h2.resp-accordion:hover{
	background:#6CC5D9;
	text-shadow: none;
	color: #FFF;
}
/*-- //SAP --*/


/*-- banner --*/
.banner1{
	background:url(../images/color_green.jpg) no-repeat 0px 0px;
	background-size:cover;
	-webkit-background-size:cover;
	-moz-background-size:cover;
	-o-background-size:cover;
	-ms-background-size:cover;
	min-height:150px;
}
.navbar-brand{
color:#ffff00!important;
    font-size: 3.5em;
    text-decoration: none;
	font-family: 'YesevaOne-Regular';
}
.navbar-brand span{
	display:block;
	font-size:14px;
	color:#ffffff;
	line-height: 3em;
    padding: 0 0 0 0.4em;
}
.navbar-default {
    background: none;
    border: none;
}
.navbar-nav {
    float: right;
}
.copyrights{
	text-indent:-9999px;
	height:0;
	line-height:0;
	font-size:0;
	overflow:hidden;
}
.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:focus {
    color: #fff;
    background:  #5e9d60;
}
.navbar-default .navbar-nav > .active > a:hover {
	color: #ffff00;
    background:  #5e9d60;
    text-decoration: underline;
}
.navbar-default .navbar-nav > li > a {
	color: #fff;
	font-family: 'Open Sans', sans-serif;
    font-size: 18px;
}
.navbar-default .navbar-nav > li > a:hover {
	color: #ffff00;
	background:  #aa5e9d60;
    text-decoration: underline;
}
.navbar-default .navbar-nav > li > a:focus {
    color: #fff;
    background-color: #5e9d60;
}
.header-nav {
    padding: 3em 0 0;
}
.banner-info-left {
    margin: 3em 0 0;
}
.banner-info-left ul{
	padding:1em 0 2em;
}
.banner-info-left ul li{
	display:inline-block;
}
.navbar-nav > li {
    margin: 0 1em 0 0;
}
/*--//banner--*/


/*--footer--*/
.copyrights{
	text-indent:-9999px;
	height:0;
	line-height:0;
	font-size:0;
	overflow:hidden;
}
.footer-bottom {
	background-color: #201F1F;
	padding: 2em 0;
	text-align: center;
}
.footer-bottom p {
	color: #868686;
	font-size: 14px;
}
.footer-bottom p a{
	color:#868686;
}
.footer-bottom p a:hover{
	color: #803F5F;
	border-bottom:1px solid #fff;
}
/*--//footer--*/


/*-- buttons --*/
.icon-button {
	color: #008040;
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    outline: none;
    border: 0;
    background: transparent;
}
.icon-button:hover .glyphicon {
	color: #ff8000;
}
/*-- //buttons --*/


/*-- search page --*/
.search-notices-filter {
	background: #efd583;
	font-size: 13px;
	margin-top: 10px;
	border: 2px #408080 solid;
	border-radius: 25px;
	padding: 10px;
}
.search-filter-item-name {
	text-align: left;
    color: #000000;
    font-weight: bold;
}
.search-profile-filter {
	background: #b6d7a8;
	font-size: 13px;
	margin-top: 20px;
	border: 2px #008000 solid;
	border-radius: 25px;
	padding: 10px;
	border-radius: 25px;
}
.search-notices-filter h3, .search-profile-filter h3 {
	text-align: center;
    color: #000000;
    font-size: 18px;
    margin: 0;
    padding: 4px;
}
.search-profile-priority {
	text-align: left;
    color: #000000;
    font-weight: bold;
    min-height:50px;
}
.search-improve-profile {
	font-size: 13px;
	margin-top: 20px;
	border: 2px #c0c0c0 solid;
	border-radius: 25px;
	padding: 10px;
	text-align: center;
}
.search-improve-profile h3 {
	text-align: center;
    color: #808080;
    font-size: 15px;
    padding: 4px;
}
.search-improve-profile p {
	text-align: center;
	font-size: 12px;
  	color: #808080; 
}


.glyphicon-ring {
  width: 70px;
  height: 70px;
  border-radius: 50%;
  border: 1px solid #808080;
  display: inline-table;
  text-align: center;
  vertical-align: middle;
}
.glyphicon-ring .search-improve-icon {
  font-size: 40px;
  color: #808080; 
  vertical-align: middle;
  display: table-cell;
}
.search-btn {
	float: right;
}
.search-buttons {
	margin-top: 10px;
	margin-bottom: 10px;
	margin-left: 10px;
	margin-right: 10px;
}
.search-result {
	margin-top: 10px;
    padding: 4px;
}
/*-- //search page --*/


/*-- personal space page --*/
.perso-info {
	margin-bottom: 10px;
}
.perso-profile {
	border-radius:5px 5px 5px 5px; 
	border:3px solid #408080;"
	padding: 0px;
}
.perso-profile-tab {
	padding: 10px 10px 10px 10px;
}
.perso-profile-photo {
	height: 100px;
	width: 100px;
}
.perso-profile-info {
	padding: 5px;
	margin: 0px;
}
.perso-edit-sex {
	text-align: center;
}
.perso-edit-sex input[type="radio"] {
  margin-right: 50px;
}
.perso-edit-footer {
	padding: 0px 10px 0px 0px;
}
.perso-edit-btn {
	float: right;
	font-weight: bold;
}
.perso-rm-btn {
	float: right;
}
.perso-posts {
	border-radius:5px 5px 5px 5px;
	border:3px solid #408080;
}
<<<<<<< Updated upstream
/*-- //personal space page --*/
=======
h2.resp-accordion:hover{
	background:#6CC5D9;
	text-shadow: none;
	color: #FFF;
}
/*-- index page --*/
.index-search {
	padding: 20px 20px 20px 20px;
}
.index-utilisateurs {
	background: #b6d7a8;
	font-size: 20px;
	border: 2px #008000 solid;
	margin-top: 20px;
	border-radius: 25px;
	padding: 10px;
	border-radius: 25px;
	min-height: 250px;
}
index-span{
 	display:block;
 	width:60px;
 	height:20px;
 	float:left;
 	border:1px solid #B8D0D6;
	text-align:center;
	line-height:20px;
	margin-top:10px;
	margin-left:10px;
	padding-top: 50px;
}
.red{
    color:red;
}
.div-inline{ 
	display:inline
} 
.index-nous {
	font-size: 20px;
	margin-top: 20px;
	border: 2px #008000 solid;
	border-radius: 25px;
	padding-top: 15px;
	padding-bottom: 5px;
	border-radius: 25px;
	margin-bottom:20px;
}

@-webkit-keyframes backgroundScroll {
from {background-position: 0 0;}
to {background-position: -400px 0;}
}
 
@keyframes backgroundScroll {
from {background-position: 0 0;}
to {background-position: -400px 0;}
}

.home-page {
	/*--background:#008000;--*/
	background:url("../images/friends.jpg");*
	width: 100%;
    color:#fff !important;
	-webkit-animation: backgroundScroll 80s linear infinite;
	animation: backgroundScroll 40s linear infinite;
	background-size:100% 100%;
	background-position:top;
	background-attachment:fixed;
}
/*-- //index page --*/
/*-- inscription page --*/
.inscription-advantage {
	font-size: 20px;
	margin-top: 20px;
	padding-top: 15px;
	padding-bottom: 5px;
	margin-bottom:20px;
	vertical-align: middle;
}


.inscription-icon {
	float: left;
	display: inline;
	margin-top: 0;
	margin-left: 5px;
}
.inscription-text {
	float: left;
	display: inline;
	margin-top: 20;
	margin-left: 5px;
}
.inscription-item {
	text-align: left;
    color: #000000;
    font-weight: bold;
}
.inscription-text-padding {
    padding-right:10;
    padding-left:10;
    padding-top:20px;
    padding-bottom:0;
   }